.inputContainer {
  height: 54px;
  align-items: normal;
}

.inputContainer input {
  padding-top: 18px;
  line-height: 36px;
  margin-left: 6px;
}

.statusMessage {
  display: block;
  line-height: 24px !important;
}