.inputContainer {
  height: 54px;
  align-items: normal;
}

.inputContainer input {
  padding: 18px 0 0 4px !important;
}

.statusMessage {
  display: flex;
  align-items: center;
  line-height: 24px !important;  
}

.statusMessageIcon {
  margin-right: 5px;
  display: flex;
  margin-left: -2px;
}