:import {
  -st-from: '../../Foundation/stylable/colors.st.css';
  -st-named: D40,D55;
}

:import {
  -st-from: '../../Foundation/stylable/typography.st.css';
  -st-named: text-medium-normal;
}

.root {
  -st-states: disabled, size(enum(small, medium,large));
  -st-mixin: text-medium-normal;
  line-height: unset;
  padding-left: 6px;
  color: value(D40);
}

.root:size(small) {
  font-size: 14px
}

.root:disabled {
  color: value(D55);
}
