/* https://www.kizu.ru/flexible-overflow/ */
:import {
  -st-from: "../../Tooltip/TooltipNext/Tooltip.st.css";
  -st-default: Tooltip;
}

.headerWrapper {
  -st-states: appearance(string);
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.headerWrapper:appearance(H3){
  line-height: 1.3em;
  height: 1.3em;
}

.headerShort {
  display: block;
  width: 0;
  flex-grow: 1;
}
/* Popover wrapper  */
.headerShort > * > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerFull {
  flex-basis: 100%;
}


.tooltip {
  -st-extends: Tooltip;
  width: auto;
}
