/* https://www.kizu.ru/flexible-overflow/ */
.headerWrapper {
  -st-states: appearance(string);
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  width: 100%;
}

.headerWrapper:appearance(H3){
  line-height: 1.3em;
  height: 1.3em;
}

.headerShort {
  display: block;
  width: 0;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Popover wrapper  */
.headerShort:not(.headerShort .headerShort) > * > * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerFull {
  flex-basis: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
