@import '../../common.scss';

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $B10;
  &.disabled {
    color: $D10-30;
  }
}

@include withRTL() {
  padding: 0;
}
