:import {
  -st-from: "wix-ui-core/dist/src/themes/backoffice/colors.st.css";
  -st-named: B50,B30,D60,D70;
}


.container {
  display: flex;
  align-items: center;
  min-height: 48px;
  justify-content: space-between;
  padding: 11px 30px;
  box-sizing: border-box;
}

.standard {
  background-color: value(B50);
  border-top: 1px value(B30) solid;
  border-bottom: 1px value(B30) solid;
}

.neutral {
  background-color: value(D70);
  border-top: 1px value(D60) solid;
  border-bottom: 1px value(D60) solid;
}

.suffix {
  height: 0;
  flex-shrink: 0;
  margin-left: 12px;
  display: flex;
  align-items: center;
}
