*.swp
node_modules
npm-debug.log
lib/
test-kit-lib/
dist
target
coverage
.history
storybook-static
/.idea/
*.iml
.vscode
test/e2e
testkit/beta/enzyme.js
testkit/beta/index.js
testkit/beta/enzyme.d.ts
testkit/beta/protractor.js
testkit/beta/puppeteer.js
testkit/beta/index.d.ts
testkit/protractor.d.ts
testkit/enzyme.js
testkit/puppeteer.d.ts
testkit/index.js
testkit/enzyme.d.ts
testkit/protractor.js
testkit/puppeteer.js
testkit/index.d.ts
.happypack
yarn.lock
package-lock.json
.DS_Store
autodocs-registry

# we ignore all *.js, *.d.ts and *.scss in root folder to avoid committing component export
# files that appear in root after build
/*.js
/*.d.ts


!.prettierrc.js
!wallaby.js
!protractor.conf.js
!babel.config.js
!perfer.config.js
.DS_Store
/*.scss
# we also ignore icons folder to avoid comitting icons export
# icons that appear in root after build
/new-icons/
/src/new-icons/system
/src/new-icons/*.js
/bundles

# applitools private config
!applitools.config.js
applitools.private.config.js
