
:import {
  -st-from: "wix-ui-core/hocs.st.css";
  -st-named: Focusable;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: F00,B00, B10, D50;
}

:import {
  -st-from: "../Foundation/stylable/shadows.st.css";
  -st-named: shadow30;
}

:vars {
  rootSize: 12px;
  rootSizeWithState: 18px;
  railHeight: 3px;
}
.root{
  -st-extends: Focusable;
  -st-states: disabled;
  position: absolute;
  outline: none; /* prevent browser default focus for wrapper div*/
}

.sliderHandler {
  margin-left: calc(value(rootSize)/ -2);
  margin-top: calc((value(rootSize) - value(railHeight)) / -2);
  padding: calc((value(rootSizeWithState) - value(rootSize))/2);
  width: value(rootSize);
  height:  value(rootSize);
  box-sizing:border-box;
  border-radius: 50%;
  background-color: value(B10);
  touch-action: pan-x;
  cursor: pointer;
  outline: none;
}

.root:disabled .sliderHandler {
  background-color: value(D50);
}

.root:not(:disabled):hover .sliderHandler {
  width: value(rootSizeWithState);
  height: value(rootSizeWithState);
  margin-left: calc(value(rootSizeWithState)/ -2);
  margin-top: calc((value(rootSizeWithState) - value(railHeight)) / -2);
}

.root:not(:disabled):active .sliderHandler{
  width: value(rootSizeWithState);
  height: value(rootSizeWithState);
  margin-left: calc(value(rootSizeWithState)/ -2);
  margin-top: calc((value(rootSizeWithState) - value(railHeight)) / -2);
}

.root:not(:active):not(:hover):not(:disabled):focus-visible .sliderHandler{
  box-shadow: 0 0 0 3px value(F00);
  z-index: 2;
}

.root:not(:disabled):focus .sliderHandler{
  box-shadow: 0 0 0 3px transparent;
  /** rc-slider focus overwrite */
  border: 1px solid transparent;
  z-index: 2;
}
