:import {
  -st-from: "wix-ui-core/hocs.st.css";
  -st-named: Focusable;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: F00,B00, B10, D10, D50, D80;
}

:import {
  -st-from: "../Foundation/stylable/shadows.st.css";
  -st-named: shadow30;
}

:vars {
  rootSize: 12px;
  railHeight: 3px;
}

.root {
  -st-extends: Focusable;
  -st-states: disabled;
  position: absolute;
  margin-left: calc(value(rootSize)/ -2);
  width: value(rootSize);
  height:  value(rootSize);
  box-sizing:border-box;
  border-radius: 50%;
  background-color: value(B10);
  touch-action: pan-x;
  cursor: pointer;
  outline: none;
  transition: transform .2s; /* Animation */
}

/* extending clickable area */
.root:not(:hover):not(:active)::before {
  content: '';
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
}

/* extending clickable area for hover and active states */
.root:hover::before , .root:active::before {
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
}

.root:disabled {
  background-color: value(D50);
  cursor: default;
}

.root:not(:disabled):hover,
.root:not(:disabled):active {
  transform: scale(1.5);
  margin-left: calc(value(rootSize)/ -2);
}

.root:not(:active):not(:hover):not(:disabled):focus-visible {
  box-shadow: 0 0 0 3px value(F00);
  z-index: 2;
}

.root:not(:disabled):focus {
  box-shadow: 0 0 0 3px transparent;
  /** rc-slider focus overwrite */
  border: 1px solid transparent;
  z-index: 2;
}

.tooltip {
  position: absolute;
  background-color: value(D10);
  color: value(D80);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 10px 15px;
  top: -44px;
  box-shadow: value(shadow30);
  user-select: none;
  transform: translateX(-50%);
  transition: transform .4s;
}

.tooltip::after {
  position: absolute;
  content: "";
  border-top: 5px solid value(D10);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -5px;
  left: calc(50% - 5px);
}
