@import "../common";

$sidebarWidth: 222px;
$mainBackgroundColor: #23263e;
$scrollbarThumbHoverColor : #555;
$scrollbarThumbColor: rgba(255, 255, 255, 0.4);

@keyframes inFromLeft {
  from {
    margin-left: -$sidebarWidth;
  }
  to {
    margin-left: 0;
  }
}

@keyframes inFromRight {
  from {
    left: $sidebarWidth;
  }
  to {
    left: 0;
  }
}

@keyframes outToRight {
  from {
    left: 0;
  }
  to {
    left: $sidebarWidth;
  }
}

@keyframes outToLeft {
  from {
    left: 0;
  }
  to {
    left: -$sidebarWidth;
  }
}

.sideBar {
  background-color: $mainBackgroundColor;
  width: $sidebarWidth;
  height: 100%;
  position: relative;

  animation-name: inFromLeft;
  animation-delay: 0.1s;
  animation-duration: 0.6s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;

  overflow: hidden;
  min-height: 0;

  display: flex;
  flex-direction: column;

  z-index: 2;
  margin-left: 0;
}

.hiddenSideBar {
  margin-left: -$sidebarWidth;
}

.slider {
  background: $mainBackgroundColor;
  position: relative;
  width: $sidebarWidth;
  overflow-y: auto;
  height: 100%;

  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.sliderInFromRight {
  animation-name: inFromRight;
  z-index: 2;
}

.sliderInFromLeft {
  animation-name: inFromLeft;
  z-index: 2;
}

.sliderOutToRight {
  position: absolute;
  animation-name: outToRight;
  z-index: 2;
  left: $sidebarWidth;
}

.sliderOutToLeft {
  position: absolute;
  animation-name: outToLeft;
}

.slider::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

.slider::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $scrollbarThumbColor;
}

.slider::-webkit-scrollbar-thumb:hover {
  background: $scrollbarThumbHoverColor;
}

.content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
