:import {
  -st-from: "../Text/Text.st.css";
  -st-default: Text;
};

:import {
    -st-from: "../Sidebar/colors.st.css";
    -st-named: sidebarBackgroundColor, hoveredBackgroundColor, selectedBackgroundColor, disabledBackgroundColor, disabledTextColor
}

:import {
    -st-from: "wix-ui-backoffice/dist/src/colors.st.css";
    -st-named: D80, B30, B10
}

:import {
  -st-from: "wix-ui-core/dist/src/hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
  -st-named: focus-box;
}

.root {
  -st-extends: Focusable;
  -st-states: selected, disabled;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 30px;
  max-width: 222px;
  min-height: 42px;
  box-sizing: border-box;
  background-color: value(sidebarBackgroundColor);
  color: value(D80);
}

.root:selected {
  background-color: value(selectedBackgroundColor)
}

.root:selected .text:size(small) {
  color: value(B10);
}

.root:hover, .root:hover:selected:not(:disabled) {
  background-color: value(hoveredBackgroundColor);
  cursor: pointer;
}

.root:hover .text:size(small), .root:hover:selected:not(:disabled) .text:size(small)  {
  color: value(B30);
}

.root:disabled {
  background-color: value(disabledBackgroundColor);
  cursor: default;
}

.root:disabled .text:size(small) {
  color: value(disabledTextColor);
}

.root:focus {
  -st-mixin: focus-box;
}

.chevron {
  visibility: hidden; 
  opacity: 0;
  transition: opacity .5s;
}

.root:hover .chevron {
  visibility: visible;
  opacity: 1; 
}

.root:hover .suffix {
  display: none;
  opacity: 0; 
}

.suffix {
  display: inline-flex;
  opacity: 1; 
}

.prefix {
  margin-right: 10px;
}

.text {
  -st-extends: Text;

  display: block;
  flex-grow: 1;
  max-width: 132px;
}