:import {
  -st-from: "../Text/Text.st.css";
  -st-default: Text;
};

:import {
    -st-from: "../Sidebar/colors.st.css";
    -st-named: sidebarBackgroundColor, hoveredBackgroundColor, selectedBackgroundColor, disabledBackgroundColor, disabledTextColor
}

:import {
    -st-from: "wix-ui-backoffice/dist/src/colors.st.css";
    -st-named: D80, B30, B10
}

:import {
  -st-from: "wix-ui-core/dist/src/hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
  -st-named: focus-box;
}

:vars {
  paddingWithoutSuffix: 6px 42px 6px 24px;
  paddingWithSuffix: 6px 18px 6px 24px;
}

.root {
  -st-extends: Focusable;
  -st-states: selected, disabled, prefix, suffix, drillable;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: value(paddingWithoutSuffix);
  max-width: 222px;
  min-height: 36px;
  box-sizing: border-box;
  background-color: value(sidebarBackgroundColor);
  color: value(D80);
}

.root:selected {
  background-color: value(selectedBackgroundColor)
}

.root:selected .text:size(small) {
  color: value(B10);
}

.root:hover, .root:hover:selected:not(:disabled) {
  background-color: value(hoveredBackgroundColor);
  cursor: pointer;
}

.root:hover .text:size(small), .root:hover:selected:not(:disabled) .text:size(small) {
  color: value(B30);
}

.root:disabled {
  background-color: value(disabledBackgroundColor);
  cursor: default;
}

.root:disabled .text:size(small) {
  color: value(disabledTextColor);
}

.root:focus {
  -st-mixin: focus-box;
}

.root:drillable:hover {
  padding: value(paddingWithSuffix);
}

.root:drillable .chevron {
  position: absolute;
  opacity: 0;
}

.root:drillable:hover .chevron {
  position: static;
  opacity: 1; 
  transition: all .5s;
  color: value(B30);
}

.root:prefix:hover:not(:suffix) {
  padding: value(paddingWithoutSuffix);
}

.root:suffix, .root:prefix:drillable:hover {
  padding: value(paddingWithSuffix);
}

.prefix {
  margin-right: 10px;
}

.text {
  -st-extends: Text;

  display: block;
  flex-grow: 1;
  max-width: 154px;
  word-break: break-word;
}