:import {
  -st-from: "../Divider/Divider.st.css";
  -st-default: Divider;
};

:import {
  -st-from: "../Sidebar/colors.st.css";
  -st-named: dividerColor
}

.root {
  border: 0;
  height: 1px;
  margin: 20px 24px;
}

.fullWidth {
  margin: 0;
}

.divider {
  -st-extends: Divider;
}

.divider:skin(dark) {
  /* Overrides the color as part of UX decision */
  background-color: value(dividerColor);
}
