:import {
  -st-from: "wix-ui-core/src/hocs/EllipsedTooltip/EllipsedTooltip.st.css";
  -st-default: Ellipsis;
}

:import {
  -st-from: "../Tooltip/TooltipNext/Tooltip.st.css";
  -st-default: Tooltip;
}

.root {
  -st-extends: Ellipsis;
  -st-mixin: Tooltip;
}