.root {
  ul {
    padding: 0;
    list-style-type: none;

    ul {
      padding: 6px 0;
    }

    li {
      position: relative;
      padding-left: 30px;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 24px;
        height: 24px;
        left: 0;
        top: 1px;
        background-color: currentColor;
        mask: url('~wix-ui-icons-common/Confirm.svg') no-repeat center/contain;
      }
    }
  }
}

.small {
  ul li {
    padding-left: 25px;

    &::before {
      width: 21px;
      height: 21px;
      top: -1px;
    }
  }
}

.tiny {
  ul li {
    padding-left: 21px;

    &::before {
      width: 18px;
      height: 18px;
      top: -1px;
      mask: url('~wix-ui-icons-common/ConfirmSmall.svg') no-repeat center/contain;
    }
  }
}
