@import '../common.scss';

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: row;
  line-height: 15px;
  width: 120px; // Inferred from Zeplin spec.

  &.rtl {
    flex-direction: row-reverse;
  }
}

.time {
  cursor: pointer;
  display: block;
  width: inherit;
  white-space: nowrap;
  flex-direction: row;
  box-sizing: border-box;

  &.focus {
    outline: 1px solid black;
  }

  &.hover {
    outline: 1px solid blue;
  }

  &.rtl {
    flex-direction: row-reverse;
  }
}

.ampm {
  margin: 0 3px;
  text-transform: uppercase;
}

.ampm.ampm:hover { color: $B10; }

.disabled {
  cursor: default;
  pointer-events: none;
}

.input {
  cursor: pointer;
}
