:import {
  -st-from: "wix-ui-core/dist/src/hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
}

:import {
  -st-from: "wix-ui-core/dist/src/themes/backoffice/colors.st.css";
  -st-named: F00, B10, B50, D55, D10, D80;
}

:import {
  -st-from: "../../Text/Text.st.css";
  -st-default: Text;
}

.root {
  -st-extends: Focusable;
  -st-states: selected;
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Styling */
  color: value(D10);
  cursor: pointer;
  
  /* Sizing */
  flex-basis: 100%;
  height: 36px;
  box-sizing: border-box;
  overflow: hidden;

  /* Border & Spacing */
  background: transparent;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px transparent;
  border-radius: 6px;
  padding: 0 24px;
  margin: 0;

  /* Disable native focus */
  outline: none;
}

.root:not(:disabled):hover {
  background-color: value(B50);
}

.root:not(:disabled):focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}

.root:disabled {
  color: value(D55);
  cursor: not-allowed;
}

/* Selected styles */ 

.root:selected:not(:disabled) {
  border: 1px solid value(B10);
  box-shadow: 0 0 0 1px value(B10);
  z-index: 1000;
}

.root:selected:not(:disabled):focus-visible{
  border: 1px solid value(B10);
  box-shadow: 0 0 0 1px value(B10) , 0 0 0 4px value(F00);
}

.root:selected:disabled {
  border: 1px solid value(D55);
  box-shadow: 0 0 0 1px value(D55);
  cursor: not-allowed;
}

.root:selected:not(:hover){
  background-color: value(D80);
}

/* Additional classes */

.prefix {
  flex-shrink: 0;
  margin: 0 6px 0 -6px;
}

:global([dir='rtl']) .prefix {
  flex-shrink: 0;
  margin: 0 -6px 0 6px;
}