@import "../common.scss";

$footerHeight: 90px;
$dividerHeight: 1px;

.root {
  cursor: pointer;
  height: 100%;
  width: 100%
}

.content, .hoveredContent {
  height: 100%;
  border-radius: $cardBorderRadius;
}

.contentWithFooter, .hoveredContentWithFooter {
  height: calc(100% - #{$footerHeight + $dividerHeight});
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.content {
  background-size: cover;
  background-position: center;
}

.backgroundImageNode {
  overflow: hidden;
}

.hoveredContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  box-sizing: border-box;
  background-color: rgba($D20, 0.95);
}

.primaryAction {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.secondaryAction {
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $footerHeight;
  padding: 0 30px;
}

.badgeWrapper {
  position: absolute;
  left: -6px;
  top: 24px;
}

.settingsMenuContainer {
  position: absolute;
  top: 18px;
  right: 18px;
}