:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D60;
}
:import {
  -st-from: "../Foundation/stylable/shadows.st.css";
  -st-named: shadow20;
}

.root {
  -st-states: size(enum(small, medium)), dropShadow;
  padding-left: 24px;
  padding-right: 24px;
  height: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: content-box;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 value(D60);
}

.root:dropShadow {
  box-shadow: value(shadow20);
}

.root:size(small) {
  height: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}

.actions {
  display: flex;
  align-items: center;
  width: 100%;
}

.actions > :not(:last-child) {
  margin-right: 12px;
}

.actions > .saveStatus {
  margin-right: 24px;
}

.mainActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainActions > :not(:last-child) {
  margin-right: 12px;
}

.backButton {
  white-space: nowrap;
}

.divider {
  width: 1px;
  min-width: 1px;
  height: 24px;
  background-color: value(D60);
  margin-left: 20px;
  margin-right: 20px;
}
