
:import {
    -st-from: "../Foundation/stylable/colors.st.css";
    -st-named: D80, B30, B10, F00, B50, R10, D40, R30, D10-30, D60
}
:import {
  -st-from: '../Foundation/stylable/typography.st.css';
  -st-named: sizeSmall, sizeMedium, weightNormal;
}
:import {
  -st-from: "../Foundation/stylable/default-scroll-bar.st.css";
  -st-named: defaultScrollBar;
}
.root {
  -st-states: disabled, status(enum(error, warning)), size(enum(small, medium, large));
  --rows: 1;
  --rowHeight: 24px;
  --top: 3px;
  position: relative;
  text-align: left;
  background-color: value(D80);
  border-radius: 6px;
  width: 100%;
}
.root:size(small) {
  --rowHeight: 18px;
  --top: 3px;
}
.root:size(medium) {
  --rowHeight: 24px;
  --top: 4px;
}
.root:size(large) {
  --rowHeight: 30px;
  --top: 4px;
}
.root :global(.public-DraftEditorPlaceholder-root) {
  -st-mixin: sizeMedium, weightNormal;
  color: value(D40);
  margin: 2px 0;
  position: absolute;
  pointer-events: none;
  top: var(--top);
  left: 10px;
}
.root :global(.public-DraftEditor-content) {
  -st-mixin: defaultScrollBar; /* TODO: hide will not hovering  */
  background-color: value(D80);;
  height: calc(var(--rows) * var(--rowHeight) + 12px);
  padding: var(--top) 7px;
  border: 1px solid value(B30);
  border-radius: 6px;
  overflow: auto;
  box-sizing: border-box;
}
.root :global(.public-DraftEditor-content):hover {
  background-color: value(B50);
  cursor: pointer;
}
.root :global(.public-DraftEditor-content):focus {
  background-color: value(D80);
  cursor: text;
  border-color: value(B10);
  box-shadow: 0 0 0 3px value(F00);
}
.root:disabled :global(.public-DraftEditorPlaceholder-root) {
  color: value(D10-30);
}
.root:disabled :global(.public-DraftEditor-content) {
    color: value(D10-30);;
    border-color: value(D60);
}
.root:disabled :global(.public-DraftEditor-content):hover {
  background-color: value(D80);
  cursor: default;
}
.root .tagWrapper {
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: middle;
}
.root .textWrapper {
  -st-mixin: sizeMedium, weightNormal;
  display: inline;
  vertical-align: middle;
}
.root:size(large) .textWrapper {
  line-height: 30px;
}
.root:size(small) .textWrapper {
  -st-mixin: sizeSmall;
}

.root:status(error) :global(.public-DraftEditor-content) {
    border-color: value(R10);
}
.root:status(error) :global(.public-DraftEditor-content):focus {
    border-color: value(R10);
    box-shadow: 0 0 0 3px value(R30);
}
.root .indicatorWrapper {
  position: absolute;
  top: 3px;
  right: 5px;
}
