@import './colors.scss';

.table {
  border-collapse: collapse;
  text-transform: lowercase;
}

.table th, .table td {
  border: 1px solid black;
  padding: 5px;

  &.light {
    background-color: $D10;
  }
}
