@import "../../colors.scss";

.root {
  display: flex;
  justify-content: center;

  &:global(.slick-dots) {
    position: static;
    margin-top: 24px;
  
    :global(li.slick-active) {
      background-color: $B10;
    }
  }

   & .dot {
    width: 12px;
    height: 12px;
    background-color: $B40;
    border-radius: 6px;
    margin: 0 6px;

     &:hover {
      background-color: $B27;
    }
  }
}