:import {
  -st-from: "../Sidebar/colors.st.css";
  -st-named: sidebarBackgroundColor, sidebarLightBackgroundColor, lightTextColor, textColor;
}

:import {
  -st-from: "wix-ui-core/hocs.st.css";
  -st-named: Focusable;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: F00
}

:import {
  -st-from: "../Sidebar/main.st.css";
  -st-named: sidebarWidth
}

@keyframes backAndForth {
  0% {
    transform: translateX(0px);
  }
  8% {
    transform: translateX(-5px);
  }
  16% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}


.BackButton {
  -st-extends: Focusable;
  -st-states: lightSkin;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
 
  width: 100%;
  max-width: value(sidebarWidth);
  padding: 15px 24px 15px 18px;
  display: flex;
  align-items: center;
  background: value(sidebarBackgroundColor);

  /* not supported in IE11 & Edge; 'left' as fallback */
  text-align: left;
  text-align: start;
}
.BackButton:lightSkin {
  background: value(sidebarLightBackgroundColor); 
}

.BackButton:focus {
  outline: none;
}
.BackButton:focus-visible {
  box-shadow: inset 0 0 0 3px value(F00);
}

.arrow {
  -st-states: animated;
  transition: transform 0.5s;
  position: relative;
  color: value(textColor);
}
.BackButton:lightSkin .arrow {
  color: value(lightTextColor)
}
.BackButton:hover .arrow, .BackButton:focus-visible .arrow {
  transition: transform 0.5s;
  transform: translateX(-5px);
}

.BackButton:not(:hover) .arrow:animated {
  animation-name: backAndForth;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
