.root {
  --wsr-font-family: var(--wix-font-stack);
  --wsr-font-weight-thin: var(--wix-font-weight-thin);
  --wsr-font-weight-normal: var(--wix-font-weight-normal);
  --wsr-font-weight-bold: var(--wix-font-weight-bold);
}
