html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  transition-delay: 0ms !important;
  transition-duration: 0ms !important;
  transition: none !important;
  animation-duration: 0ms !important;
}
