/* Uncomment to use Madefor font in Storybook
:root {
  --wsr-font-family: Madefor;
  --wsr-font-weight-thin: 400;
  --wsr-font-weight-normal: 700;
  --wsr-font-weight-bold: 800;
}
*/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  transition-delay: 0ms !important;
  transition-duration: 0ms !important;
  transition: none !important;
  animation-duration: 0ms !important;
}
