:root {
  --wsr-font-family: var(--wix-font-stack);
  --wsr-font-weight-regular: var(--wix-font-weight-regular);
  --wsr-font-weight-bold: var(--wix-font-weight-bold);
  --wsr-font-weight-xbold: var(--wix-font-weight-xbold);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
