:import {
    -st-from: "../Foundation/stylable/colors.st.css";
    -st-named: D55;
}

.root {
    display: flex;
}

.stepSplitter {
    display: flex;
    align-items: center;
    padding-right: 6px;
    cursor: default;
    color: value(D55);
    flex-shrink: 0;
}

.stepContainer {
    -st-states: selected;
    min-width: 0;
}

.stepContainer:selected {
    flex-shrink: 0;
}
