:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: R10, D80;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;

  background-color: value(R10);
  color: value(D80);
}