:import {
  -st-from: "wix-ui-core/dist/src/hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
}

:import {
  -st-from: "../../Foundation/stylable/colors.st.css";
  -st-named:B00,B00-24,B00-42,B40,B10, F00;
}


.root {
  -st-states: noColorSelected;
  -st-extends: Focusable;

  flex: 0 0 24px;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  color: value(B10);
  justify-content: center;
  align-items: center;
  background-color: value(B40);
  /* Disable native focus */
  outline: none;
}

.root:hover {
  border-color: value(B00-42);
}

.root:not(:disabled):focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}
