:import {
  -st-from: "wix-ui-core/dist/src/hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
}

:import {
  -st-from: 'wix-ui-core/dist/src/themes/backoffice/colors.st.css';
  -st-named: B50, D60, F00;
}

:vars {
  gap: 30px;
}

.item {
  -st-extends: Focusable;
  -st-states: clickable;
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  padding: value(gap);
  white-space: nowrap;
  transition: background-color .3s ease-in-out;
}

.item:clickable {
  cursor: pointer;
}

.item:clickable:hover {
  background-color: value(B50);
}

.item:focus {
  outline: none;
}
.item:focus-visible {
  border-radius: 2px;
  box-shadow: 0 0 0 3px value(F00);
}

.item:not(:last-child)::after {
  position: absolute;
  top: value(gap);
  right: 0;
  bottom: value(gap);
  width: 1px;
  content: '';
  background-color: value(D60);
}

.subtitle {
  display: flex;
  justify-content: center;
}

.info {
  position: absolute;
  display: inline-block;
  height: 24px;
}

.percentage {
  margin-top: auto;
}

.percentageInner {
  height: 12px;
}

.trendIndicator {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
