:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: G10, B20, R10, D20, R30, G30, B30, D40, O10, Y10, D70, Y30, P10;
}

:import {
  -st-from: "../Text/Text.st.css";
  -st-default: Text;
}

.root {
  -st-states: skin(string);
  white-space: nowrap;
  line-height: 24px;
}

.marker {
  width: 18px;
  height: 10px;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #ffffff;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  background-color: value(D20);
}

.label {
  margin: 0 8px;
  display: inline-flex;
}

.label Text {
  color: inherit;
}

.root:skin(general) .marker,
.root:skin(secondaryText) .marker {
  background-color: value(D20);
}

.root:skin(danger) .marker {
  background-color: value(R10);
}

.root:skin(standard) .marker {
  background-color: value(B20);
}

.root:skin(backgroundSecondary) .marker,
.root:skin(primaryLightText) .marker {
  background-color: white;
}

.root:skin(success) .marker {
  background-color: value(G10);
}

.root:skin(warning) .marker {
  background-color: value(Y10);
}

.root:skin(urgent) .marker {
  background-color: value(O10);
}

.root:skin(neutral) .marker {
  background-color: value(D40);
}

.root:skin(neutralStandard) .marker,
.root:skin(mainMutedHover) .marker {
  background-color: value(B30)
}

.root:skin(neutralSuccess) .marker,
.root:skin(successMutedHover) .marker {
  background-color: value(G30)
}

.root:skin(neutralDanger) .marker,
.root:skin(dangerMutedHover) .marker {
  background-color: value(R30)
}

.root:skin(neutralLight) .marker {
  background-color: value(D70)
}
 
.root:skin(warningLight) .marker {
  background-color: value(Y30)
}

.root:skin(premium) .marker {
  background-color: value(P10)
}