@import '../../src/Typography/Typography.scss';
@import '../common.scss';

$suffixHorizontalPadding: 12px;
$inlineLabelMinHeight: 36px;
$childrenMargin: 6px;

.root {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: initial;

  .children {
    margin: auto 0;
  }

  &.stretchContent {
    display: flex;

    .children {
      flex-grow: 1;
    }
  }
}

.children {
  flex: 0 0 100%;
  max-width: 100%;

  &.childrenWithInlineLabel {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    .suffix {
      margin-bottom: $childrenMargin;
    }
  }

  &.stretchContent {
    flex-grow: 1;
  }
}

.minLabelHeight {
  min-height: $inlineLabelMinHeight;
  line-height: $inlineLabelMinHeight;
}

.labelFromTop {
  .label {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    max-width: 100%;
  }

  .children {
    padding-top: $childrenMargin;
  }
}

.labelFromRight {
  flex-direction: row;

  .childrenWithInlineLabel {
    padding-right: $suffixHorizontalPadding;
  }
}

.labelFromLeft {
  flex-direction: row-reverse;

  .childrenWithInlineLabel {
    padding-left: $suffixHorizontalPadding;
  }
}

.labelAlignMiddle {
  align-items: center;
}

.labelAlignTop {
  align-items: start;
}

@include withRTL {
  .labelFromRight {
    .childrenWithInlineLabel {
      padding-right: 0;
      padding-left: $suffixHorizontalPadding;
    }
  }

  .labelFromLeft {
    .childrenWithInlineLabel {
      padding-left: 0;
      padding-right: $suffixHorizontalPadding;
    }
  }
}

.asterisk {
  @extend .text, .sizeMedium, .weightThin;
  display: inline-block;
  color: $B20;
  font-size: 22px;
  margin-left: 6px;
  margin-top: -4px;
}

.infoIcon {
  margin-left: 3px;
}

.labelIndicators {
  display: flex;
  align-items: center;

  &.inlineWithSuffix {
    $suffixHeight: 18px;

    // Aligns the inline label on the top in case the suffix (whether custom or the char counter) appears
    margin-top: $suffixHeight + $childrenMargin;
  }
}

.suffix {
  margin-left: auto;
}
