:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named:
    B10, B40, B50,
    D10, D55, D80,
    F00,
    G30,
    R10, R30;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D10-30;
}

:import {
  -st-from: "wix-ui-core/dist/src/hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
}


.root {
  -st-states: disabled, action, suffixIcon;
  -st-extends: Focusable;

  display: flex;
  padding: 12px 24px 12px 18px;
  align-items: center;

  background-color: value(D80);
  cursor: pointer;
  text-align: start;

  outline:none;
  border: none;
}

.root:disabled {
  cursor: default;
  pointer-events: none;
  color: value(D10-30);
}

.root:not(:disabled):focus-visible {
  background-color: value(B40);
  box-shadow:inset 0 0 0 3px value(F00);
}

.root:not(:action):hover {
  background-color: value(B50);
}

.root:action {
  padding-top: 20px;
}
.root:suffixIcon {
  justify-content: space-between;
}

.prefixIcon {
  -st-states: action;
}

.prefixIcon,
.suffixIcon {
  flex-shrink: 0;
}


.prefixIcon:action {
  color: value(B10);
}
