:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named:
    B10, B40, B50,
    D10, D55, D80, D10-30,
    F00,
    G30,
    R10, R30;
}

.root {
  -st-states: disabled, action, title, suffixIcon, selected;
  -st-extends: Focusable;

  display: flex;
  padding: 12px 12px 12px 24px;
  align-items: center;
  background-color: value(D80);
  cursor: pointer;
  outline:none;
  border: none;
}

.root:disabled {
  pointer-events: none;
  color: value(D10-30);
}
.root:title {
  cursor: default;
}
.root:not(:disabled):focus-visible {
  background-color: value(B40);
  box-shadow:inset 0 0 0 3px value(F00);
}

.root:not(:title):hover,
.root:selected {
  background-color: value(B50);
}

.root:title {
  padding-top: 20px;
}
.root:action {
  justify-content: center;
  padding: 12px;
}
.root:suffixIcon {
  justify-content: space-between;
}

.prefixIcon {
  -st-states: action;
}

.prefixIcon,
.suffixIcon {
  flex-shrink: 0;
}


.prefixIcon:action {
  color: value(B10);
}
