:import {
  -st-from: "../../Foundation/stylable/colors.st.css";
  -st-named: B60,B10,D10,D60,D80;
}

:import {
  -st-from: "../../Foundation/stylable/shadows.st.css";
  -st-named: shadow30;
}

.root { 
  -st-states: hover, disabled, open, skin( enum( standard, light )) ;
  overflow: hidden;
  background-color: transparent;
}

.header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 24px;
  height: 72px;
  transition: background-color .3s;
  outline: none;
}

.root:not(:disabled):hover .header {
  background-color: value(B60);
  cursor: pointer;
}

.root:open .header {
  box-shadow: value(shadow30);
}

.root:disabled .header .arrow {
  color: value(D10);
}

.icon {
  margin-right: 12px;
  height: 24px;
}

.title {
  flex: 1 1 auto;
  min-width: 0;
}

.children{
  padding: 24px 30px 30px;
  background-color: value(B60);
}

.root:skin(standard) .children{
  background-color: value(B60);
}

.root:skin(light) .children{
  background-color: value(D80);
}

.toggleButton {
  flex: 0 0 auto;
  margin-left: auto;
}

.arrow {
  color: value(B10);
}
