:import {
  -st-from: "wix-ui-core/index.st.css";
  -st-named: ButtonNext;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: B10, D55, D80, B20, B50, B40, F00, D10, D20, D30;
}

.root {
  
}

.root {
  -st-extends: ButtonNext;
  -st-states: skin(enum(standard, dark)), selected, size(enum(medium));
  
  min-width: 0;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  padding: 0;

  box-sizing: border-box;
  text-align: center;

  border: none;
  outline: none;
  transition: all 100ms linear;

  background-color: value(D80);
  color: value(D10);
}

.root:hover:not(:disabled) {
  background-color: value(D80);
  color: value(B10);
}

.root:active:not(:disabled),
.root:selected:not(:disabled) {
  background-color: value(B40);
  color: value(B20);
}

.root:active:hover:not(:disabled),
.root:selected:hover:not(:disabled) {
  background-color: value(B50);
  color: value(B20);
}

.root:disabled {
  background-color: value(D80);
  color: value(D55);
}

.root:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}

.root::content {
  line-height: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* skin Dark */

.root:skin(dark) {
  background-color: value(D80);
  color: value(D10);
}

.root:skin(dark):hover:not(:disabled) {
  background-color: value(D80);
  color: value(D30);
}

.root:skin(dark):active:not(:disabled),
.root:skin(dark):selected:not(:disabled) {
  background-color: value(D10);
  color: value(D80);
}

.root:skin(dark):active:hover:not(:disabled),
.root:skin(dark):selected:hover:not(:disabled) {
  background-color: value(D20);
  color: value(D80);
}

.root:skin(dark):disabled {
  background-color: value(D80);
  color: value(D55);
}
