:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: B50, B40, R10, D50;
}

:import {
  -st-from: "../Foundation/stylable/border.st.css";
  -st-named: radius08;
}

:import {
  -st-from: "wix-ui-core/hocs.st.css";
  -st-named: Focusable;
}

:vars {
  overlayColor: rgba(32, 69, 94, 0.8);
}

.root {
  -st-states:
    error,
    disabled,
    removeRadius,
    hasImage,
    imageLoading;

  position: relative;
  width: 204.7px;
  height: 144px;
  border-radius: value(radius08);
  background-color: value(B50);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.2s linear;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.root:removeRadius {
  border-radius: 0;
}

.root:hasImage {
  background-color: transparent;
}

.root:error {
  border: 1px solid value(R10);
}

/** buttons group style **/

.buttons {
  display: flex;
  color: white;
  justify-content: center;
  margin: auto;
  align-items: baseline;
  transition: opacity 0.1s linear;
}

.buttons > :last-child:not(:first-child) {
  margin-left: 12px;
}

.root:imageLoading .buttons {
  display: none;
}

/** image styles **/

.imageContainer {
  -st-states: shouldDisplay;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.imageContainer:not(:shouldDisplay) {
  display: none;
}

.overlay {
  -st-states: removeRadius;
  transition: all 0.1s linear;
  border-radius: value(radius08);
  background-color: value(overlayColor);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  cursor: auto;
}

.root:hasImage:hover .overlay,
.root:imageLoading .overlay {
  display: flex;
}

.root:hasImage:not(:imageLoading) .overlay {
  cursor: pointer;
}

.overlay:removeRadius {
  border-radius: 0;
}

.image {
  display: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.image.imageVisible {
  display: flex;
}

.root:hover .image {
  transform: scale(1.1);
}

/** error styles **/

.errorContainer {
  position: absolute;
  right: 9px;
  top: 9px;
}

.error {
  background-color: value(R10);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.error svg {
  width: 10px;
  height: 10px;
}

/** disabled styles */

.root:disabled {
  cursor: not-allowed;
}

.root:disabled .image {
  opacity: .3;
}

.root:disabled .image:hover {
  transform: none;
}

.root:disabled .imageContainer {
  background-color: value(D50);
  transition: none;
}

.stretch {
  width: 100%;
  height: 100%;
}
